// Colors
$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;

$color-second-orange-li: #ffb900;
$color-second-orange-med: #ff7730;

$color-terciary-blue-li: #2998ff;
$color-terciary-blue-med: #5643fa;

$white: #ffffff;
$color-grey-light: #eee;
$grey: #777;
$color-dark-grey: #999;
$grey-light-1: #f7f7f7;

$color-light-black: #333;
$black: #000;

// Fonts

$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
