section.section-cta
    .cta
        .cta__img.cta__img--logo
            img(src='/img/logo-white.png', alt='Natours logo')
        img.cta__img.cta__img--1(src=`/img/tours/tour-1-1.jpg`, alt='Tour picture')
        img.cta__img.cta__img--2(src=`/img/tours/tour-2-1.jpg`, alt='Tour picture')
        .cta__content
            h2.heading-secondary What are you waiting for?
            p.cta__text=`1 adventure. Infinite memories. Make it yours today!` 

            a.btn.btn--green.span-all-rows(href="/overview") Check our tours