footer.footer 
    .footer__logo
        img(src='/img/logo-green.png' alt='Natour logo')
    ul.footer__nav 
        li: a(href='/about') About us
        li: a(href='/become-a-guide') Become a guide
        li: a(href='/stories') Stories
        li: a(href='/contact') Contact
        li: a(href='/privacy') Privacy policy
    div 
        p.footer__copytight Original design by &copy; Jonas Schmedtmann  
        p.footer__copytight Build and modified by &copy; Corentin Damas 