extends base

block content
  section.section-header-sm
    h1.heading-primary.ma-bt-md.bg-guide Become a guide
    
  section.about
    h2.green.ma-bt-md.center  Becoming a Guide for Natours: Your Journey Begins Here
    h6.description__text.subtext.ma-bt-md  At Natours, we believe that nature is the ultimate playground, a place where adventure and serenity coexist. Our mission is to create unforgettable custom tours that allow our clients to connect deeply with the natural world. To achieve this, we rely on a team of passionate, knowledgeable, and dedicated guides who bring the magic of nature to life. If you have a love for the outdoors and a desire to share that passion with others, becoming a guide for Natours could be the perfect opportunity for you. Here’s how you can embark on this exciting journey.

    .description-box.about-grid.ma-bt-lg

      div
        h2.heading-secondary.ma-bt-sm  Step 1: Discover Your Passion
        p.description__text The first step to becoming a guide for Natours is to cultivate a deep love and respect for nature. Our guides are not just employees; they are nature enthusiasts who are eager to share their knowledge and experiences with others. Whether you have a background in environmental science, outdoor education, or simply a lifelong love for hiking, camping, and exploring, your passion for the outdoors is the cornerstone of your journey.
      div
        h2.heading-secondary.ma-bt-sm  Step 2: Acquire Relevant Experience
        p.description__text Experience is key to becoming a successful guide. Start by participating in outdoor activities and excursions to build your skills and knowledge. Volunteering with conservation groups, joining local hiking clubs, or working with other tour agencies can provide invaluable hands-on experience. Focus on developing a broad understanding of natural history, wildlife, and environmental conservation, as these topics are central to the tours we offer at Natours.

      img(src=`/img/tours/tour-1-cover.jpg`, alt="test" class="img-filler")

      div
        h2.heading-secondary.ma-bt-sm  Step 3: Enhance Your Skills
        img(src=`/img/tours/tour-1-1.jpg`, alt="test" class="small-img")
      div 
        p.description__text.wei700 Guiding requires a diverse set of skills. At Natours, we look for individuals who can:
        ul.ma-bt-sm
          li 
            span.green.wei700 Communicate Effectively: 
            | Excellent communication skills are essential for engaging clients and conveying information clearly and enthusiastically.
          li 
            span.green.wei700 Lead and Inspire:
            | Strong leadership qualities are necessary to guide groups safely and inspire trust and confidence.
          li 
            span.green.wei700 Problem-Solve:
            | The ability to think on your feet and handle unexpected situations is crucial in the unpredictable outdoors.
          li
            span.green.wei700 Teach and Educate:
            |  A knack for teaching and educating others about nature, conservation, and outdoor skills is highly valued.

        p.description__text.wei700 Consider taking courses in outdoor leadership, wilderness first aid, and environmental education to strengthen your skill set.
      
      div
        h2.heading-secondary.ma-bt-sm  Step 4: Obtain Necessary Certifications
        p.description__text.wei700 To ensure the safety and satisfaction of our clients, Natours requires all guides to hold certain certifications. These may include:
        ul.ma-bt-sm 
          li 
            span.green.wei700 Wilderness First Aid or Wilderness First Responder Certification: 
            | To handle medical emergencies in remote settings.
          li 
            span.green.wei700 CPR Certification: 
            | Basic life support skills.
          li 
            span.green.wei700 Leave No Trace Certification: 
            | Understanding and teaching the principles of sustainable outdoor ethics.
        p.description__text.wei700 Depending on the specific tours you wish to lead, additional certifications, such as kayaking, rock climbing, or wildlife tracking, may be required.
      div
        h2.heading-secondary.ma-bt-sm  Step 5: Apply to Natours
        p.description__text.wei700 Once you have the necessary experience, skills, and certifications, it’s time to apply to Natours. Our application process includes:
        ul.ma-bt-sm 
          li
            span.green.wei700 Submitting Your Resume: 
            | Highlighting your relevant experience, certifications, and skills.
          li
            span.green.wei700 Providing References: 
            | Contact information for individuals who can attest to your qualifications and character.
          li
            span.green.wei700 Completing an Interview:
            | Discussing your background, passion for nature, and approach to guiding.
          
      img(src=`/img/tours/tour-3-cover.jpg`, alt="test" class="img-filler")

      h2.heading-secondary.ma-bt-sm.span-2.center Step 6: Training and Onboarding
      div.span-2.ma-bt-lg
        h4.wei700.ma-bt-sm Successful applicants will undergo a comprehensive training program. This program covers:

        p.description__text 
            span.wei700 Natours' Philosophy and Approach: 
            | Understanding our mission, values, and the unique aspects of our custom tours.
        p.description__text  
            span.wei700 Training: 
            | Learning the details of the specific tours you will be leading, including routes, safety protocols, and key points of interest.
        p.description__text 
            span.wei700 Customer Service Excellence:
            | Training in delivering exceptional customer service and ensuring a memorable experience for every client.

      img(src=`/img/tours/tour-8-cover.jpg`, alt="test" class="small-img")
      div 
        h2.heading-secondary.ma-bt-sm.span-2.center Step 7: Begin Your Guiding Adventure
        p.description__text After completing the training program, you will be ready to lead your first tour with Natours.
        h1 Join the Natours Family
        p.description__text Contact us at : 
            span.wei700 natours@example.com    
        
    p.description__text.wei700.ma-bt-lg  Becoming a guide for Natours is more than just a job; it's a calling. It's about sharing your love for the outdoors, educating others, and making a positive impact on the environment. If you’re ready to embark on this rewarding journey and become part of the Natours family, we invite you to take the first step and apply today. Together, we can create adventures that inspire and connect people with the beauty of nature.
    div.cnt
      a.btn.btn--green.span-all-rows(href="/contact") Contact us